<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ static(DARK_STYLE_CSS if embed_theme == 'dark' else LIGHT_STYLE_CSS) }}">
    {% if INLINE_FONTAWESOME %}
        <link rel="stylesheet" href="{{ static('libs/fontawesome/font-awesome.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ FONTAWESOME_CSS }}">
    {% endif %}
    <link rel="stylesheet" href="{{ static('source_sans_pro.css') }}">
    {% if INLINE_JQUERY %}
        <script src="{{ static('libs/jquery-3.4.1.min.js') }}"></script>
    {% else %}
        <script src="{{ JQUERY_JS }}"></script>
    {% endif %}
    <script src="{{ static('event.js') }}"></script>
</head>
<body class="contest-live-submissions-embed">
    {% with live_submission_widget_id='contest-live-submissions-embed' %}
        {% include "contest/live-submissions-widget.html" %}
    {% endwith %}

    {% if EVENT_LAST_MSG %}
        <script>
            window.event_dispatcher = new WSEventDispatcher(
                '{{ EVENT_DAEMON_LOCATION }}',
                '{{ EVENT_DAEMON_POLL_LOCATION }}',
                {{ EVENT_LAST_MSG }}
            );
        </script>
    {% endif %}
    <script src="{{ static('contest-live-submissions.js') }}"></script>
</body>
</html>
